@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Astralis_BlazorApp.Services.Interfaces
@using Components.Layout
@inject IAuthService AuthenticationService

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <LayoutView Layout="@typeof(MainLayout)">
                        <div class="alert alert-danger m-4">
                            Désolé, vous n'avez pas l'autorisation d'accéder à cette page.
                        </div>
                    </LayoutView>
                </NotAuthorized>
            </AuthorizeRouteView>

            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>

        <NotFound>
            <PageTitle>Page introuvable</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert" class="text-white m-4">Désolé, il n'y a rien à cette adresse.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await AuthenticationService.CheckUserSession();
    }
}